{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
        <div class="row center">
            <div class="xcontainer">
                <div class="col s12 m3">
                    <img id="profil" src="{{ asset('img/profil.jpg') }}" alt="Photo de profil">
                    <p id="days"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <h2>À propos</h2>
                <!-- Element -->
                <h4>Hey ! Je m'appelle <strong>Augustin Kavera</strong> vivant à <strong>Clermont-Ferrand</strong> et je suis <span class="element"></span>.</h4>
                <!-- End -->
                <div class="container center">
                    <section class="col s12 m6">
                        <h2 class="center"><img src="{{ asset('icon/graduation-hat.svg') }}" alt="Student" class="icon-main"></h2>
                        <p class="center">
                            Je suis actuellement étudiant au sein du parcours diplômant <a href="https://openclassrooms.com/paths/21-chef-de-projet-multimedia-developpement" target="_blank">
                                "Chef de projet multimédia - Développement"</a> d'Openclassrooms enregistré au <a href="http://www.rncp.cncp.gouv.fr/grand-public/visualisationFiche?format=fr&fiche=26290" target="_blank">
                                Répertoire National des Certifications Professionnelles
                            </a> au niveau II ou j'apprends à maîtriser les langages de programmation ainsi que la gestion de projet.
                        </p>
                    </section>
                    <section class="col s12 m6">
                        <div class="icon-block">
                            <h2 class="center red-text"><img src="{{ asset('icon/like.svg') }}" alt="Coeur" class="icon-main"></h2>
                            <p class="center">
                                Passionné par l’informatique, toujours en quête de nouvelles connaissances, je m’intéresse aux nouvelles technologies, je suis polyvalent,
                                motivé et déterminé dans mes projets.
                                Je pratique du sport (salle de musculation, footing) tous les soirs afin de me maintenir en forme et de m'évader quelques heures.
                            </p>
                        </div>
                    </section>
                    <section class="col s12 m12">
                        <div class="icon-block">
                            <h2 class="center"><img src="{{ asset('icon/checked.svg') }}" alt="Check" class="icon-main"></h2>
                            <p class="center">
                                Jeune autodidacte, pratiquant le développement web pendant ma formation et lors de mes temps libres. J’aiguise mes compétences un peu plus
                                chaque jour, tant en programmation qu’en ligne de commande linux.
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col s12">
            <div class="separator">
                <div class="mask"></div>
            </div>
        </div>
    </div>
    <div class="container center">
        <section id="skills">
            <h2>Compétences</h2>
            <br/>
            <ul class="list">
                <li class="list__item">
                    <div class="wrapper">
                        <a href="#" target="_blank">
                            <img class="icon " src="{{ asset('icon/php.png') }}" alt="php">
                        </a>
                    </div>
                    <h4>PHP</h4>
                </li>
                <li class="list__item">
                    <div class="wrapper">
                        <a href="#" target="_blank">
                            <img class="icon " src="{{ asset('icon/symfony.svg') }}" alt="Symfony">
                        </a>
                    </div>
                    <h4>Symfony</h4>
                </li>
                <li class="list__item">
                    <div class="wrapper">
                        <a href="#" target="_blank">
                            <img class="icon " src="{{ asset('icon/sql.png') }}" alt="SQL">
                        </a>
                    </div>
                    <h4>SQL</h4>
                </li>
                <li class="list__item">
                    <div class="wrapper">
                        <a href="#" target="_blank">
                            <img class="icon " src="{{ asset('icon/js.svg') }}" alt="Js">
                        </a>
                    </div>
                    <h4>Javascript</h4>
                </li>
                <li class="list__item">
                    <div class="wrapper">
                        <a href="#" target="_blank">
                            <img class="icon " src="{{ asset('icon/jquery.png') }}" alt="Jquery">
                        </a>
                    </div>
                    <h4>JQuery</h4>
                </li>
                <li class="list__item">
                    <div class="wrapper">
                        <a href="#" target="_blank">
                            <img class="icon " src="{{ asset('icon/html-5.svg') }}" alt="Html 5">
                        </a>
                    </div>
                    <h4>HTML 5</h4>
                </li>
                <li class="list__item">
                    <div class="wrapper">
                        <a href="#" target="_blank">
                            <img class="icon " src="{{ asset('icon/css.png') }}" alt="Css 3">
                        </a>
                    </div>
                    <h4>CSS 3</h4>
                </li>
                <li class="list__item">
                    <div class="wrapper">
                        <a href="#" target="_blank">
                            <img class="icon " src="{{ asset('icon/bash.png') }}" alt="Bash">
                        </a>
                    </div>
                    <h4>Bash</h4>
                </li>
                <li class="list__item">
                    <div class="wrapper">
                        <a href="#" target="_blank">
                            <img class="icon " src="{{ asset('icon/git.png') }}" alt="Git">
                        </a>
                    </div>
                    <h4>Git</h4>
                </li>
                <li class="list__item">
                    <div class="wrapper">
                        <a href="#" target="_blank">
                            <img class="icon " src="{{ asset('icon/gdp.png') }}" alt="Gestion de projet digital">
                        </a>
                    </div>
                    <h4>Gestion de projet</h4>
                </li>
                <li class="list__item">
                    <div class="wrapper">
                        <a href="#" target="_blank">
                            <img class="icon " src="{{ asset('icon/photoshop.png') }}" alt="Photoshop">
                        </a>
                    </div>
                    <h4>Photoshop</h4>
                </li>
                <li class="list__item">
                    <div class="wrapper">
                        <a href="#" target="_blank">
                            <img class="icon " src="{{ asset('icon/alm.png') }}" alt="Git">
                        </a>
                    </div>
                    <h4>ALM</h4>
                </li>
            </ul>
        </section>
        <section id="skills2">
            <h3>En cours d'apprentissage</h3>
            <ul class="list">
                <li class="list__item">
                    <div class="wrapper">
                        <a href="#" target="_blank">
                            <img class="icon " src="{{ asset('icon/vue.png') }}" alt="Vue js">
                        </a>
                    </div>
                    <h4>Vue JS</h4>
                </li>
                <li class="list__item">
                    <div class="wrapper">
                        <a href="#" target="_blank">
                            <img class="icon " src="{{ asset('icon/laravel.png') }}" alt="Laravel">
                        </a>
                    </div>
                    <h4>Laravel</h4>
                </li>
                <li class="list__item">
                    <div class="wrapper">
                        <a href="#" target="_blank">
                            <img class="icon " src="{{ asset('icon/saas.png') }}" alt="Laravel">
                        </a>
                    </div>
                    <h4>Saas</h4>
                </li>
            </ul>
        </section>
        <section class="container">
            <h2>Environnement</h2>
            <div class="row">
                <div class="col s12 m6">
                    <img class="env" src="{{ asset('icon/windows.svg') }}" alt="Windows">
                </div>
                <div class="col s12 m6">
                    <img class="env" src="{{ asset('icon/linux.svg') }}" alt="Linux">
                </div>
            </div>
        </section>
    </div>


{% endblock %}
