{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
        <div class="row center">
            <div class="xcontainer">
                <div class="col s12 m3">
                    <img id="profil" src="{{ asset('img/profil.jpg') }}" alt="Photo de profil">
                    <p id="days"></p>
                </div>
                <div class="col m9">
                    <div id="christmas">
                        <div class="heading">
                            <div class="my-countdown"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Start about me -->
    <section id="a-propos" class="section">
        <div class="row">
            <div class="col s12 center">
                <h1>À propos</h1>
                <!-- Element -->
                <h4>Hey ! Je m'appelle <strong>Augustin Kavera</strong> vivant à <strong>Clermont-Ferrand</strong> et je suis <span class="element"></span>.</h4>
                <!-- End -->
                <div class="container center">
                    <section class="col s12 m6">
                        <h6 class="center"><img src="{{ asset('icon/graduation-hat.svg') }}" alt="Student" class="icon-main"></h6>
                        <p class="center">
                            Je suis actuellement étudiant au sein du parcours diplômant <a href="https://openclassrooms.com/paths/21-chef-de-projet-multimedia-developpement" target="_blank">
                                "Chef de projet multimédia - Développement"</a> d'Openclassrooms enregistré au <a href="http://www.rncp.cncp.gouv.fr/grand-public/visualisationFiche?format=fr&fiche=26290" target="_blank">
                                Répertoire National des Certifications Professionnelles
                            </a> au niveau II ou j'apprends à maîtriser les langages de programmation ainsi que la gestion de projet.
                        </p>
                    </section>
                    <section class="col s12 m6">
                        <div class="icon-block">
                            <h6 class="center red-text"><img src="{{ asset('icon/like.svg') }}" alt="Coeur" class="icon-main"></h6>
                            <p class="center">
                                Passionné par l’informatique, toujours en quête de nouvelles connaissances, je m’intéresse aux nouvelles technologies, je suis polyvalent,
                                motivé et déterminé dans mes projets.
                                Je pratique du sport (salle de musculation, footing) tous les soirs afin de me maintenir en forme et de m'évader quelques heures.
                            </p>
                        </div>
                    </section>
                    <section class="col s12 m12">
                        <div class="icon-block">
                            <h6 class="center"><img src="{{ asset('icon/checked.svg') }}" alt="Check" class="icon-main"></h6>
                            <p class="center">
                                Jeune autodidacte, pratiquant le développement web pendant ma formation et lors de mes temps libres. J’aiguise mes compétences un peu plus
                                chaque jour, tant en programmation qu’en ligne de commande linux.
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <!-- End about me -->
    <!-- Separator -->
    <div class="separator">
        <div class="shadow-separator"></div>
    </div>
    <!-- End separator -->
    <!-- Start skill -->
    <section id="competences" class="section">
        <div class="container center">
            <section id="skills">
                <h1 class="scrollspy">Compétences</h1>
                <br/>
                <ul class="list">
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/php.png') }}" alt="php">
                            </a>
                        </div>
                        <h4>PHP</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/symfony.svg') }}" alt="Symfony">
                            </a>
                        </div>
                        <h4>Symfony</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/sql.png') }}" alt="SQL">
                            </a>
                        </div>
                        <h4>SQL</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/js.svg') }}" alt="Js">
                            </a>
                        </div>
                        <h4>Javascript</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/jquery.png') }}" alt="Jquery">
                            </a>
                        </div>
                        <h4>JQuery</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/html-5.svg') }}" alt="Html 5">
                            </a>
                        </div>
                        <h4>HTML 5</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/css.png') }}" alt="Css 3">
                            </a>
                        </div>
                        <h4>CSS 3</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/bash.png') }}" alt="Bash">
                            </a>
                        </div>
                        <h4>Bash</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/git.png') }}" alt="Git">
                            </a>
                        </div>
                        <h4>Git</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/gdp.png') }}" alt="Gestion de projet digital">
                            </a>
                        </div>
                        <h4>Gestion de projet</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/photoshop.png') }}" alt="Photoshop">
                            </a>
                        </div>
                        <h4>Photoshop</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/alm.png') }}" alt="Git">
                            </a>
                        </div>
                        <h4>ALM</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/responsive.svg') }}" alt="Mobile first">
                            </a>
                        </div>
                        <h4>Responsive design</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/wordpress.svg') }}" alt="Wordpress">
                            </a>
                        </div>
                        <h4>Wordpress</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/windows.svg') }}" alt="Windows">
                            </a>
                        </div>
                        <h4>Windows</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/linux.svg') }}" alt="Linux">
                            </a>
                        </div>
                        <h4>Linux</h4>
                    </li>
                </ul>
            </section>
            <section id="skills2">
                <h3>En cours d'apprentissage</h3>
                <ul class="list">
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/vue.png') }}" alt="Vue js">
                            </a>
                        </div>
                        <h4>Vue JS</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/laravel.png') }}" alt="Laravel">
                            </a>
                        </div>
                        <h4>Laravel</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <a href="#" target="_blank">
                                <img class="icon " src="{{ asset('icon/saas.png') }}" alt="Laravel">
                            </a>
                        </div>
                        <h4>Saas</h4>
                    </li>
                </ul>
            </section>
        </div>
    </section>
    <!-- Separator -->
    <div class="separator">
        <div class="shadow-separator"></div>
    </div>
    <!-- End separator -->
    <section id="cursus" class="section">
        <div class="row">
            <div class="col s12 center">
                <h1>Mon parcours</h1>
                <br/>
                <div class="row">
                    <!-- Timeline -->
                    <ul class="timeline">
                        <!-- Objet 0 -->
                        <li>
                            <div class="direction-l">
                                <div class="flag-wrapper">
                                    <span class="flag"><a class="waves-effect waves-light modal-trigger" href="#">Freelance Développeur web</a></span>
                                    <span class="time-wrapper"><span class="time">2018 - présent </span></span>
                                </div>
                                <div class="desc">
                                    Auto-entrepreneur - Augustin Kavera
                                </div>
                            </div>
                        </li>
                        <!-- Objet 0 -->
                        <li>
                            <div class="direction-l">
                                <div class="flag-wrapper">
                                    <span class="flag"><a class="waves-effect waves-light modal-trigger" href="#">Valideur d'outils applicatifs</a></span>
                                    <span class="time-wrapper"><span class="time">2018 - présent </span></span>
                                </div>
                                <div class="desc">
                                    URSSAF Auvergne - Centre de Validation National 63
                                </div>
                            </div>
                        </li>
                        <!-- Objet 1 -->
                        <li>
                            <div class="direction-r">
                                <div class="flag-wrapper">
                                    <span class="flag"><a class="waves-effect waves-light modal-trigger" href="#">Etudiant Openclassrooms</a></span>
                                    <span class="time-wrapper"><span class="time">2017 - présent </span></span>
                                </div>
                                <div class="desc">Cursus chef de projet multimédia - développement <br>
                                    Partenaire IESA Multimédia - Paris (75) <br>
                                    Titre reconnu par l'Etat, enregistré au RNCP au niveau II
                                </div>
                            </div>
                        </li>
                        <!-- Objet 2 -->
                        <li>
                            <div class="direction-l">
                                <div class="flag-wrapper">
                                    <span class="flag"><a class="waves-effect waves-light modal-trigger" href="#">Coordinateur Appui Feu</a></span>
                                    <span class="time-wrapper"><span class="time">2016 - 2017 </span></span>
                                </div>
                                <div class="desc">68ème Régiment d'Artillerie d'Afrique</div>
                            </div>
                        </li>
                        <!-- Objet 3 -->
                        <li>
                            <div class="direction-r">
                                <div class="flag-wrapper">
                                    <span class="flag"><a class="waves-effect waves-light modal-trigger" href="#">Exploitant réseau de zones</a></span>
                                    <span class="time-wrapper"><span class="time">2011 - 2017 </span></span>
                                </div>
                                <div class="desc">28ème régiment de Transmission</div>
                            </div>
                        </li>
                        <!-- Objet 4 -->
                        <li>
                            <div class="direction-l">
                                <div class="flag-wrapper">
                                    <span class="flag"><a class="waves-effect waves-light modal-trigger" href="#">Assistant Comptable</a></span>
                                    <span class="time-wrapper"><span class="time">2009 - 2010 </span></span>
                                </div>
                                <div class="desc">Maeva Beach Ressort- Tahiti</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <a href="{{ asset('pdf/cv.pdf') }}" target="_blank" class="waves-effect waves-light btn disabled"><i class="material-icons left">file_download</i>Voir le CV</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Separator -->
    <div class="separator">
        <div class="shadow-separator"></div>
    </div>
    <!-- End separator -->
    <section id="project" class="section">
        <div class="row">
            <div class="col s12 center">
                <h1>Mes projets</h1>

                <div class="container">
                    <div class="row">
                        <div class="col s12 m3">
                            <div class="hover panel" onmouseover="this.className += ' flip';" onmouseout="this.className = 'hover panel';">
                                <div class="front">
                                    <div class="frontTitle">
                                        Clermont-Ferrand
                                    </div>
                                    <div class="frontLogo">
                                        <img src="{{ asset('img/001.jpg') }}" alt="Projet 1">
                                    </div>
                                    <div class="frontLocation">
                                        Wordpress
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="backTitle">Créez et déployez un site en ligne</div>
                                    <br/>
                                    <div class="backParagraph">
                                        Création d'un site web pour promouvoir les activités culturelles d'une ville. <br/>
                                        La solution d'un CMS est adapté pour répondre aux besoins du client.
                                    </div>
                                    <div class="backGoto">
                                        <a href="#" target="_blank" title="Ce site est créée dans le cadre du premier projet OC">Visiter le site →</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="hover panel" onmouseover="this.className += ' flip';" onmouseout="this.className = 'hover panel';">
                                <div class="front">
                                    <div class="frontTitle">
                                        Le salon du chocolat
                                    </div>
                                    <div class="frontLogo">
                                        <img src="{{ asset('img/002.jpg') }}" alt="Projet 2">
                                    </div>
                                    <div class="frontLocation">
                                        Gestion de projet
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="backTitle">Gestion de projet en cascade</div>
                                    <br/>
                                    <div class="backParagraph">
                                        Rédiger une note de cadrage, établir un rétro-planning, fournir un devis, écrire un cahier des charges fonctionnelle et technique.<br/>
                                        Méthodologie en cascade.
                                    </div>
                                    <div class="backGoto">
                                        <a href="#" target="_blank" title="Second projet OC">Voir les livrables →</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="hover panel" onmouseover="this.className += ' flip';" onmouseout="this.className = 'hover panel';">
                                <div class="front">
                                    <div class="frontTitle">
                                        Écrivain en herbe
                                    </div>
                                    <div class="frontLogo">
                                        <img src="{{ asset('img/003.jpg') }}" alt="Projet 2">
                                    </div>
                                    <div class="frontLocation">
                                        Blog PHP from scratch
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="backTitle">Back-office & cie</div>
                                    <br/>
                                    <div class="backParagraph">
                                        Création d'un blog pour un écrivain répondant au nom de Jean Forteroche. Le client n'aime pas du tout les CMS.<br/>
                                        Un site "fait maison", dynamique ayant un back-office comme il les aime.
                                    </div>
                                    <div class="backGoto">
                                        <a href="#" target="_blank" title="Troisième projet OC">Visiter le blog →</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="hover panel" onmouseover="this.className += ' flip';" onmouseout="this.className = 'hover panel';">
                                <div class="front">
                                    <div class="frontTitle">
                                        Le musée de Louvre
                                    </div>
                                    <div class="frontLogo">
                                        <img src="{{ asset('img/004.jpg') }}" alt="Projet 2">
                                    </div>
                                    <div class="frontLocation">
                                        Symfony 3.4
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="backTitle">Back-office & cie</div>
                                    <br/>
                                    <div class="backParagraph">
                                        Création d'une billetterie pour le musée du Louvre avec l'intégration de l'API <strong>Stripe</strong> et l'utilisation du framework Symfony 3.4.<br/>
                                        Paiement en ligne sécurisé & envoie d'un e-billet par email.
                                    </div>
                                    <div class="backGoto">
                                        <a href="#" target="_blank" title="Dans le cadre du quatrième projet OC, cette billetterie est purement fictif.">Commander des billets →</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="hover panel" onmouseover="this.className += ' flip';" onmouseout="this.className = 'hover panel';">
                                <div class="front">
                                    <div class="frontTitle">
                                        Nos Amis les Oiseaux
                                    </div>
                                    <div class="frontLogo">
                                        <img src="{{ asset('img/005.png') }}" alt="Projet 5">
                                    </div>
                                    <div class="frontLocation">
                                        Symfony 4 / Materialize / OSM Leaflet
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="backTitle">Projet collaboratif</div>
                                    <br/>
                                    <div class="backParagraph">
                                        Gestion de projet, projet en collaboration avec un Web Designer, un Marketeur, 3 Développeurs Web. <br/>
                                        Création d'une application web (Desktop et mobile) pour l'observation des oiseaux partout en France.
                                    </div>
                                    <div class="backGoto">
                                        <a href="http://nao.augustinkavera.com" target="_blank" title="Ce site est créée dans le cadre du premier projet OC">Faire une observation →</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="hover panel" onmouseover="this.className += ' flip';" onmouseout="this.className = 'hover panel';">
                                <div class="front">
                                    <div class="frontTitle">
                                        Portfolio
                                    </div>
                                    <div class="frontLogo">
                                        <img src="{{ asset('img/006.png') }}" alt="Projet 5">
                                    </div>
                                    <div class="frontLocation">
                                        Version 1
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="backTitle">Premier pas</div>
                                    <br/>
                                    <div class="backParagraph">
                                        Première version de mon portfolio pour présenter une partie de mes projets aux différents recruteurs<br/>
                                        Simple site vitrine natif sans framework PHP.
                                    </div>
                                    <div class="backGoto">
                                        <a href="http://www.augustinkavera.com" target="_blank" title="Première version du site">Voir l'ancienne version →</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="hover panel" onmouseover="this.className += ' flip';" onmouseout="this.className = 'hover panel';">
                                <div class="front">
                                    <div class="frontTitle">
                                        Carma Gonesse
                                    </div>
                                    <div class="frontLogo">
                                        <img src="{{ asset('img/007.png') }}" alt="Projet 5">
                                    </div>
                                    <div class="frontLocation">
                                        Actuellement en développement
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="backTitle">Site de l'association CARMA</div>
                                    <br/>
                                    <div class="backParagraph">
                                        Refonte complet du site CARMA Gonesse actuellement en cours de développement en respectant au mieux les exigences du client.<br/>
                                        Projet web bénévole.<br/>
                                    </div>
                                    <div class="backGoto">
                                        <a href="http://www.carmagonesse.com" target="_blank" title="Site original faite par l'un des membres">Site original avant la refonte →</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Separator -->
    <div class="separator">
        <div class="shadow-separator"></div>
    </div>
    <!-- End separator -->



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.2/jquery.plugin.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countdown/2.0.2/jquery.countdown.min.js" type="text/javascript"></script>
    <script src="{{ asset('js/xmas.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/autotext.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>
{% endblock %}