{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    <div id="backhround_homepage">
        <div id="rounder" class="center-align">
            <img src="../img/profil.jpg" alt="">
            <h2 class="white-text">
                Chef de projet digital / Développeur web
            </h2>
        </div>
    </div>

    <!-- Start about me -->
    <section id="a-propos" class="section scrollspy">
        <div class="row">
            <div class="col s12 center">
                <h1>À propos</h1>
                <!-- Element -->
                <h4>Hey ! Je m'appelle <strong>Augustin Kavera</strong> vivant à <strong>Clermont-Ferrand</strong> et je suis <span class="element"></span>.</h4>
                <!-- End -->
                <div class="container center">
                    <section class="col s12 m4">
                        <h6 class="center"><img src="{{ asset('icon/graduation-hat.svg') }}" alt="Student" class="icon-main"></h6>
                        <p class="center">
                            Je suis diplômé du titre de <a href="https://openclassrooms.com/fr/paths/150-chef-de-projet-digital" target="_blank">
                                Chef de projet multimédia</a> orienté vers le développement web et délivré par l'IESA Multimédia de Paris. Ce titre est enregistré au <a href="http://www.rncp.cncp.gouv.fr/grand-public/visualisationFiche?format=fr&fiche=26290" target="_blank">
                                Répertoire National des Certifications Professionnelles
                            </a> au niveau II.
                        </p>
                    </section>
                    <section class="col s12 m4">
                        <div class="icon-block">
                            <h6 class="center red-text"><img src="{{ asset('icon/like.svg') }}" alt="Coeur" class="icon-main"></h6>
                            <p class="center">
                                Après une carrière militaire riche m'ayant permis d’acquérir des compétences de leader, d'autonomie et de rigueur. J'ai décidé de mettre ces atouts et ma créativité au profit de ma passion de l'informatique en devenant chef de projet digital spécialisé dans le développement web.
                            </p>
                        </div>
                    </section>
                    <section class="col s12 m4">
                        <div class="icon-block">
                            <h6 class="center"><img src="{{ asset('icon/checked.svg') }}" alt="Check" class="icon-main"></h6>
                            <p class="center">
                                Autodidacte, autonome et rigoureux. J’aiguise mes compétences un peu plus
                                chaque jour, tant en programmation qu’en ligne de commande linux.
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <!-- End about me -->

    <!-- Separator -->
    <div class="separator">
        <div class="shadow-separator"></div>
    </div>
    <!-- End separator -->

    <!-- Start skill -->
    <section id="competences" class="section scrollspy">
        <div class="container center">
            <section id="skills">
                <h1 class="scrollspy">Compétences</h1>
                <br/>
                <ul class="list">
                    <li class="list__item">
                        <div class="wrapper">
                            <img class="icon " src="{{ asset('icon/php.png') }}" alt="php">
                        </div>
                        <h4>PHP</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <img class="icon " src="{{ asset('icon/symfony.svg') }}" alt="Symfony">
                        </div>
                        <h4>Symfony</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <img class="icon " src="{{ asset('icon/sql.png') }}" alt="SQL">
                        </div>
                        <h4>SQL</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <img class="icon " src="{{ asset('icon/js.svg') }}" alt="Js">
                        </div>
                        <h4>Javascript</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <img class="icon " src="{{ asset('icon/jquery.png') }}" alt="Jquery">
                        </div>
                        <h4>JQuery</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <img class="icon " src="{{ asset('icon/html-5.svg') }}" alt="Html 5">
                        </div>
                        <h4>HTML 5</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <img class="icon " src="{{ asset('icon/css.png') }}" alt="Css 3">
                        </div>
                        <h4>CSS 3</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <img class="icon " src="{{ asset('icon/bash.png') }}" alt="Bash">
                        </div>
                        <h4>Bash</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <img class="icon " src="{{ asset('icon/git.png') }}" alt="Git">
                        </div>
                        <h4>Git</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <img class="icon " src="{{ asset('icon/gdp.png') }}" alt="Gestion de projet digital">
                        </div>
                        <h4>Gestion de projet</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <img class="icon " src="{{ asset('icon/photoshop.png') }}" alt="Photoshop">
                        </div>
                        <h4>Photoshop</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <img class="icon " src="{{ asset('icon/alm.png') }}" alt="Git">
                        </div>
                        <h4>ALM</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <img class="icon " src="{{ asset('icon/responsive.svg') }}" alt="Mobile first">
                        </div>
                        <h4>Responsive design</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <img class="icon " src="{{ asset('icon/wordpress.svg') }}" alt="Wordpress">
                        </div>
                        <h4>Wordpress</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <img class="icon " src="{{ asset('icon/windows.svg') }}" alt="Windows">
                        </div>
                        <h4>Windows</h4>
                    </li>
                    <li class="list__item">
                        <div class="wrapper">
                            <img class="icon " src="{{ asset('icon/linux.svg') }}" alt="Linux">
                        </div>
                        <h4>Linux</h4>
                    </li>
                </ul>
            </section>
            <section id="skills2">
                <h3>En cours d'apprentissage</h3>
                <ul class="list">
                    <li class="list__item">
                        <div class="wrapper">
                            <img class="icon " src="{{ asset('icon/angular.svg') }}" alt="Angular js">
                        </div>
                        <h4>Angular JS</h4>
                    </li>
                </ul>
            </section>
        </div>
    </section>
    <!-- End skill -->

    <!-- Separator -->
    <div class="separator">
        <div class="shadow-separator"></div>
    </div>
    <!-- End separator -->

    <!-- Start cursus -->
    <section id="cursus" class="section scrollspy">
        <div class="row">
            <div class="col s12 center">
                <h1>Mon parcours</h1>
                <br/>
                <div class="row">
                    <!-- Timeline -->
                    <ul class="timeline">
                        <!-- Objet 0 -->
                        <li>
                            <div class="direction-l">
                                <div class="flag-wrapper">
                                    <span class="flag">Valideur d'outils applicatifs</span>
                                    <span class="time-wrapper"><span class="time">2018 </span></span>
                                </div>
                                <div class="desc">
                                    URSSAF Auvergne - Centre de Validation National 63
                                </div>
                            </div>
                        </li>
                        <!-- Objet 1 -->
                        <li>
                            <div class="direction-r">
                                <div class="flag-wrapper">
                                    <span class="flag">Formation Openclassrooms</span>
                                    <span class="time-wrapper"><span class="time">2017 - 2019</span></span>
                                </div>
                                <div class="desc">Chef de projet multimédia - Développement web<br>
                                    Partenaire IESA Multimédia - Paris (75) <br>
                                    Titre reconnu par l'Etat, enregistré au RNCP au niveau II
                                </div>
                            </div>
                        </li>
                        <!-- Objet 2 -->
                        <li>
                            <div class="direction-l">
                                <div class="flag-wrapper">
                                    <span class="flag">Coordinateur Appui Feu</span>
                                    <span class="time-wrapper"><span class="time">2016 - 2017 </span></span>
                                </div>
                                <div class="desc">68ème Régiment d'Artillerie d'Afrique</div>
                            </div>
                        </li>
                        <!-- Objet 3 -->
                        <li>
                            <div class="direction-r">
                                <div class="flag-wrapper">
                                    <span class="flag">Exploitant réseau de zones</span>
                                    <span class="time-wrapper"><span class="time">2011 - 2016 </span></span>
                                </div>
                                <div class="desc">28ème régiment de Transmission</div>
                            </div>
                        </li>
                        <!-- Objet 4 -->
                        <li>
                            <div class="direction-l">
                                <div class="flag-wrapper">
                                    <span class="flag">Assistant Comptable</span>
                                    <span class="time-wrapper"><span class="time">2010</span></span>
                                </div>
                                <div class="desc">Sofitel Maeva Beach Ressort- Tahiti</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <a href="{{ asset('pdf/augustin_kavera_cv_developpeur_web_2019.pdf') }}" target="_blank" class="waves-effect waves-light btn"><i class="material-icons left">file_download</i>Voir le CV</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End cursus -->

    <!-- Separator -->
    <div class="separator">
        <div class="shadow-separator"></div>
    </div>
    <!-- End separator -->

    <!-- Start project -->
    <section id="project" class="section scrollspy">
        <div class="row">
            <div class="col s12 center">
                <h1>Mes projets</h1>

                <div class="container">
                    <div class="row">
                        <div class="col s12 m3">
                            <div class="hover panel" onmouseover="this.className += ' flip';" onmouseout="this.className = 'hover panel';">
                                <div class="front">
                                    <div class="frontTitle">
                                        Clermont-Ferrand
                                    </div>
                                    <div class="frontLogo">
                                        <img src="{{ asset('img/001.jpg') }}" alt="Projet 1">
                                    </div>
                                    <div class="frontLocation">
                                        Wordpress
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="backTitle">Créez et déployez un site en ligne</div>
                                    <br/>
                                    <div class="backParagraph">
                                        Création d'un site web pour promouvoir les activités culturelles d'une ville. <br/>
                                        La solution d'un CMS est adapté pour répondre aux besoins du client.
                                    </div>
                                    <div class="backGoto">
                                        <a href="http://projetwp.augustinkavera.com" target="_blank" title="Ce site est créée dans le cadre du premier projet OC">Visiter le site →</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="hover panel" onmouseover="this.className += ' flip';" onmouseout="this.className = 'hover panel';">
                                <div class="front">
                                    <div class="frontTitle">
                                        Le salon du chocolat
                                    </div>
                                    <div class="frontLogo">
                                        <img src="{{ asset('img/002.jpg') }}" alt="Projet 2">
                                    </div>
                                    <div class="frontLocation">
                                        Gestion de projet
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="backTitle">Gestion de projet en cascade</div>
                                    <br/>
                                    <div class="backParagraph">
                                        Rédiger une note de cadrage, établir un rétro-planning, fournir un devis, écrire un cahier des charges fonctionnelle et technique.<br/>
                                        Méthodologie en cascade.
                                    </div>
                                    <div class="backGoto">
                                        <a href="mailto:kavera.augustin@outlook.fr">Contactez moi par email →</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="hover panel" onmouseover="this.className += ' flip';" onmouseout="this.className = 'hover panel';">
                                <div class="front">
                                    <div class="frontTitle">
                                        Écrivain en herbe
                                    </div>
                                    <div class="frontLogo">
                                        <img src="{{ asset('img/003.jpg') }}" alt="Projet 2">
                                    </div>
                                    <div class="frontLocation">
                                        Blog PHP from scratch
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="backTitle">Back-office & cie</div>
                                    <br/>
                                    <div class="backParagraph">
                                        Création d'un blog pour un écrivain répondant au nom de Jean Forteroche. Le client n'aime pas du tout les CMS.<br/>
                                        Un site "fait maison", dynamique ayant un back-office comme il les aime.
                                    </div>
                                    <div class="backGoto">
                                        <a href="http://forteroche.augustinkavera.com" target="_blank" title="Troisième projet OC">Visiter le blog →</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="hover panel" onmouseover="this.className += ' flip';" onmouseout="this.className = 'hover panel';">
                                <div class="front">
                                    <div class="frontTitle">
                                        Le musée de Louvre
                                    </div>
                                    <div class="frontLogo">
                                        <img src="{{ asset('img/004.jpg') }}" alt="Projet 2">
                                    </div>
                                    <div class="frontLocation">
                                        Symfony 3.4
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="backTitle">Back-office & cie</div>
                                    <br/>
                                    <div class="backParagraph">
                                        Création d'une billetterie pour le musée du Louvre avec l'intégration de l'API <strong>Stripe</strong> et l'utilisation du framework Symfony 3.4.<br/>
                                        Paiement en ligne sécurisé & envoie d'un e-billet par email.
                                    </div>
                                    <div class="backGoto">
                                        <a href="http://louvre.augustinkavera.com" target="_blank" title="Dans le cadre du quatrième projet OC, cette billetterie est purement fictif.">Commander des billets →</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="hover panel" onmouseover="this.className += ' flip';" onmouseout="this.className = 'hover panel';">
                                <div class="front">
                                    <div class="frontTitle">
                                        Nos Amis les Oiseaux
                                    </div>
                                    <div class="frontLogo">
                                        <img src="{{ asset('img/005.png') }}" alt="Projet 5">
                                    </div>
                                    <div class="frontLocation">
                                        Symfony 4 / Materialize / OSM Leaflet
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="backTitle">Projet collaboratif</div>
                                    <br/>
                                    <div class="backParagraph">
                                        Gestion de projet, projet en collaboration avec un Web Designer, un Marketeur, 3 Développeurs Web. <br/>
                                        Création d'une application web (Desktop et mobile) pour l'observation des oiseaux partout en France.
                                    </div>
                                    <div class="backGoto">
                                        <a href="http://nao.augustinkavera.com" target="_blank" title="Ce site est créée dans le cadre du premier projet OC">Faire une observation →</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="hover panel" onmouseover="this.className += ' flip';" onmouseout="this.className = 'hover panel';">
                                <div class="front">
                                    <div class="frontTitle">
                                        Portfolio
                                    </div>
                                    <div class="frontLogo">
                                        <img src="{{ asset('img/006.png') }}" alt="Projet 5">
                                    </div>
                                    <div class="frontLocation">
                                        Version 1
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="backTitle">Premier pas</div>
                                    <br/>
                                    <div class="backParagraph">
                                        Première version de mon portfolio pour présenter une partie de mes projets aux différents recruteurs<br/>
                                        Simple site vitrine natif sans framework PHP.
                                    </div>
                                    <div class="backGoto">
                                        <a href="http://portfolio-alpha.augustinkavera.com" target="_blank" title="Première version du site">Voir l'ancienne version →</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="hover panel" onmouseover="this.className += ' flip';" onmouseout="this.className = 'hover panel';">
                                <div class="front">
                                    <div class="frontTitle">
                                        Carma Gonesse
                                    </div>
                                    <div class="frontLogo">
                                        <img src="{{ asset('img/007.png') }}" alt="Projet 5">
                                    </div>
                                    <div class="frontLocation">
                                        Wordpress
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="backTitle">Site de l'association CARMA</div>
                                    <br/>
                                    <div class="backParagraph">
                                        Refonte complet du site CARMA Gonesse en respectant au mieux les exigences du client.<br/>
                                        Projet web bénévole. (Pré-prod)<br/>
                                    </div>
                                    <div class="backGoto">
                                        <a href="http://carma.augustinkavera.com" target="_blank" title="Site temporaire">Voir le site →</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="hover panel" onmouseover="this.className += ' flip';" onmouseout="this.className = 'hover panel';">
                            <div class="front">
                                <div class="frontTitle">
                                    Location Déco Auvergne
                                </div>
                                <div class="frontLogo">
                                    <img src="{{ asset('img/008.jpg') }}" alt="Location déco auvergne Issoire">
                                </div>
                                <div class="frontLocation">
                                    Site vitrine e-commerce
                                </div>
                            </div>
                            <div class="back">
                                <div class="backTitle">Projet en cours</div>
                                <br/>
                                <div class="backParagraph">
                                    Site vitrine e-commerce d'une agence de location de décorations de mariage<br/>
                                    En cours de développement
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End project -->

    <!-- Separator -->
    <div class="separator">
        <div class="shadow-separator"></div>
    </div>
    <!-- End separator -->

    <!-- Start contact -->
    <section id="sampleContact" class="section scrollspy">
        <div class="row">
            <div class="col s12 center">
                <h1>Me joindre</h1>

                <div class="col s12 m8">
                    <div id="map_to_contact"></div>
                </div>
                <div class="col s12 m4 center">
                    <div>
                        <div>
                            <i class="material-icons small">contact_phone</i><h4>+33 7 60 02 75 74</h4>
                        </div>
                        <br>
                        <div>
                            <a href="mailto:kavera.augustin@outlook.fr"><i class="material-icons small">contact_mail</i><h4>Envoyez un mail directement</h4></a>
                        </div>
                        <br>
                        <div>
                            <i class="material-icons small">near_me</i>
                            <h4>78 Rue du Ressort <br>
                            63 100 Clermont-Ferrand
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End contact -->


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/xmas.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/autotext.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>
    <script>
        var mapContact = L.map('map_to_contact', {
            center: [45.789038, 3.116281],
            zoom: 17,
            scrollWheelZoom: false
        })
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoiamVzZGF4IiwiYSI6ImNqbGlqcnJjazAxemsza3MxbGhvMTljd2UifQ.Sj-xlNYTfb_hU1R0XseFag',
        }).addTo(mapContact);

        L.marker([45.789038, 3.116281]).addTo(mapContact);
    </script>
{% endblock %}